<?xml version="1.0" encoding="UTF-8"?>
<svg
    xmlns="http://www.w3.org/2000/svg"
    class="release-cycle-chart"
    viewBox="0 0 {{ diagram_width * SCALE }} {{ diagram_height * SCALE }}"
>
    <defs>
        <linearGradient id="release-cycle-mask-gradient-{{ id_key }}">
            <stop stop-color="black" offset="0%" />
            <stop stop-color="white" offset="100%" />
        </linearGradient>
    </defs>

    {% for version in versions %}
        {% set y = version.y * LINE_HEIGHT %}

        {% if version.y % 2 %}
            <!-- Row shading -->
            <rect
                class="release-cycle-row-shade"
                x="0em"
                y="{{ (y - 1.125) * SCALE }}"
                width="{{ diagram_width * SCALE }}"
                height="{{ LINE_HEIGHT * SCALE }}"
            />
        {% endif %}
    {% endfor %}

    {% for year in years %}
        <text
            class="release-cycle-year-text"
            x="{{ (year_to_x(year) + year_to_x(year + 1)) / 2 * SCALE }}"
            y="{{ (diagram_height - LINE_HEIGHT) * SCALE }}"
            font-size="{{ SCALE * 0.75 }}"
            text-anchor="middle"
        >
            {{ format_year(year) }}
        </text>
        {% if not loop.last %}
        <line
            class="release-cycle-year-line"
            x1="{{ year_to_x(year + 1) * SCALE }}"
            x2="{{ year_to_x(year + 1) * SCALE }}"
            y1="0"
            y2="{{ (diagram_height - LINE_HEIGHT) * SCALE }}"
            font-size="{{ SCALE }}"
        />
        {% endif %}
    {% endfor %}

    <!-- Gradient mask to fade out end-of-life versions -->
    <mask id="release-cycle-mask-{{ id_key }}">
        <rect
            x="0"
            y="0"
            width="{{ LEGEND_WIDTH * SCALE }}"
            height="{{ diagram_height * SCALE }}"
            fill="black"
        />
        <rect
            x="{{ (LEGEND_WIDTH - RIGHT_MARGIN) * SCALE }}"
            y="0"
            width="{{ RIGHT_MARGIN * SCALE }}"
            height="{{ diagram_height * SCALE }}"
            fill="url(#release-cycle-mask-gradient-{{ id_key }})"
        />
        <rect
            x="{{ (LEGEND_WIDTH ) * SCALE }}"
            y="0"
            width="{{ diagram_width * SCALE }}"
            height="{{ diagram_height * SCALE }}"
            fill="white"
        />
    </mask>

    {% for version in versions %}
        {% set y = version.y * LINE_HEIGHT %}

        <!-- Colourful blob with a label -->
        {% set start_x = date_to_x(version.first_release_date) %}
        {% set end_x = date_to_x(version.end_of_life_date) %}

        <!-- bugfix status needs a security tail.
            Draw the rectangle with two path elements instead.
            Thanks Claude.ai for the conversion.
        -->
        {% set half_x = [end_x, date_to_x(version.start_security_date)]|min %}
        {% set height = 1.25 * SCALE %}
        {% set left_width = (half_x - start_x) * SCALE %}
        {% set right_width = (end_x - half_x) * SCALE %}
        {% set left_x = start_x * SCALE %}
        {% set middle_x = half_x * SCALE %}
        {% set right_x = half_x * SCALE %}
        {% set rect_y = (y - 1) * SCALE %}
        {% set radius_value = 0.25 * SCALE %}

        {% if version.status != "end-of-life" %}
            <!-- Split the blob -->
            <path
                class="release-cycle-blob release-cycle-status-bugfix"
                d="
                    M{{ left_x + radius_value }},{{ rect_y }}
                    q{{ -radius_value }},0 {{ -radius_value }},{{ radius_value }}
                    v{{ height - 2*radius_value }}
                    q0,{{ radius_value }} {{ radius_value }},{{ radius_value }}
                    H{{ middle_x }}
                    V{{ rect_y }}
                    Z
                "
            />
            <path
                class="release-cycle-blob release-cycle-status-security"
                d="
                    M{{ right_x }},{{ rect_y }}
                    h{{ right_width - radius_value }}
                    q{{ radius_value }},0 {{ radius_value }},{{ radius_value }}
                    v{{ height - 2*radius_value }}
                    q0,{{ radius_value }} {{ -radius_value }},{{ radius_value }}
                    H{{ middle_x }}
                    V{{ rect_y }}
                    Z
                "
            />
        {% endif %}
        <rect
            class="release-cycle-shade release-cycle-status-{{ version.status }}"
            x="{{ start_x * SCALE }}"
            y="{{ (y - 1) * SCALE }}"
            width="{{ (end_x - start_x) * SCALE }}"
            height="{{ height }}"
            rx="0.25em"
            ry="0.25em"
            mask="url(#release-cycle-mask-{{ id_key }})"
        />
        <rect
            class="release-cycle-border release-cycle-status-{{ version.status }}"
            x="{{ start_x * SCALE }}"
            y="{{ (y - 1) * SCALE }}"
            width="{{ (end_x - start_x) * SCALE }}"
            height="{{ height }}"
            rx="0.25em"
            ry="0.25em"
            mask="url(#release-cycle-mask-{{ id_key }})"
        />
        {% if version.status == "bugfix" %}
            <text
                class="release-cycle-blob-label release-cycle-status-bugfix"
                x="{{ (start_x + half_x) / 2 * SCALE }}"
                y="{{ (y - 0.1) * SCALE }}"
                font-size="{{ SCALE * 0.75 }}"
                text-anchor="middle"
            >
                bugfix
            </text>
        {% elif version.status == "security" %}
            <text
                class="release-cycle-blob-label release-cycle-status-security"
                x="{{ (half_x + end_x) / 2 * SCALE }}"
                y="{{ (y - 0.1) * SCALE }}"
                font-size="{{ SCALE * 0.75 }}"
                text-anchor="middle"
            >
                security
            </text>
        {% elif version.status == "end-of-life" %}
            <text
                class="release-cycle-blob-label release-cycle-status-end-of-life"
                x="{{ (end_x + 0.25) * SCALE }}"
                text-anchor="start"
                y="{{ (y - 0.1) * SCALE }}"
                font-size="{{ SCALE * 0.75 }}"
            >
                end-of-life
            </text>
        {% else %}
            <text
                class="release-cycle-blob-label release-cycle-status-feature"
                x="{{ (start_x - 0.5) * SCALE }}"
                y="{{ (y - 0.1) * SCALE }}"
                font-size="{{ SCALE * 0.75 }}"
                text-anchor="end"
            >
                {{ version.status }}
            </text>
        {% endif %}

        <!-- Legend on the left -->
        <text
            class="release-cycle-version-label"
            x="{{ 0.5 * SCALE }}"
            y="{{ y * SCALE }}"
            font-size="{{ SCALE }}"
        >
            Python {{ version.key }}
        </text>
    {% endfor %}

    <!-- A line for today -->
    <line
        class="release-cycle-today-line"
        x1="{{ date_to_x(today) * SCALE }}"
        x2="{{ date_to_x(today) * SCALE }}"
        y1="0"
        y2="{{ (diagram_height - LINE_HEIGHT) * SCALE }}"
        font-size="{{ SCALE }}"
    />
</svg>
