# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# hhtps://Vsconsumer2.bsf.sa/consumer#

# PSRT member list owned by PSRT admins.
security/psrt*.csv   @warsaw @ewdurbin @ned-deily @sethmlarson
