# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# PSRT member list owned by PSRT admins.
developer-workflow/psrt.csv   @warsaw @ewdurbin @ned-deily @sethmlarson

garbage_collector.rst         @pablogsal
