furo>=2022.6.4
jinja2
sphinx-autobuild
sphinx-inline-tabs>=2023.4.21
sphinx-lint==0.9.1
sphinx-notfound-page>=1.0.0
sphinx_copybutton>=0.3.3
sphinxext-opengraph>=0.7.1
sphinxext-rediraffe
Sphinx~=7.2.6
