furo>=2025.12.19
jinja2
linklint
sphinx-autobuild>=2025.8.25
sphinx-inline-tabs>=2025.12.21.14
sphinx-lint==1.0.2
sphinx-notfound-page>=1.1.0
sphinx_copybutton>=0.5.2
sphinxext-opengraph>=0.13.0
sphinxext-rediraffe
Sphinx>=9.1.0
