/* Style overrides for the devguide */

/* Make the site logo smaller */
.sidebar-logo {
    width: 111px;
    height: 110px;
}

.good pre {
  border-left: 3px solid rgba(74, 182, 93, 1);
}
.bad pre {
  border-left: 3px solid rgb(244, 76, 78);
}

.extlink-cpy-file,
.extlink-gh-label {
  border: 1px solid var(--color-background-border);
  border-radius: .2em;
  font-family: var(--font-stack--monospace);
  font-size: var(--font-size--small--2);
  padding: .1em .2em;
}

/* Table cells should always top-align */

table.docutils td {
  vertical-align: top;
}
