/* Style overrides for the devguide */

/* Make the site logo smaller */
.sidebar-logo {
    width: 111px;
    height: 110px;
}

/* Release cycle chart */

.release-cycle-chart {
    width: 100%;
}

.release-cycle-chart .release-cycle-year-line {
    stroke: var(--color-foreground-primary);
    stroke-width: 0.8px;
    opacity: 75%;
}

.release-cycle-chart .release-cycle-year-text {
    fill: var(--color-foreground-primary);
}

.release-cycle-chart .release-cycle-today-line {
    stroke: var(--color-brand-primary);
    stroke-width: 1.6px;
}

.release-cycle-chart .release-cycle-row-shade {
    fill: var(--color-background-item);
    opacity: 50%;
}

.release-cycle-chart .release-cycle-version-label {
    fill: var(--color-foreground-primary);
}

.release-cycle-chart .release-cycle-blob {
    stroke-width: 1.6px;
    /* default colours, overridden below for individual statuses */
    fill: var(--color-background-primary);
    stroke: var(--color-foreground-primary);
}

.release-cycle-chart .release-cycle-blob-label {
    /* white looks good on both light & dark */
    fill: white;
}

.release-cycle-chart .release-cycle-blob-label.release-cycle-status-security,
.release-cycle-chart .release-cycle-blob-label.release-cycle-status-bugfix {
    /* but use black to improve contrast for lighter backgrounds */
    fill: black;
}

.release-cycle-chart .release-cycle-blob-label.release-cycle-status-end-of-life,
.release-cycle-chart .release-cycle-blob-label.release-cycle-status-feature {
    /* and FG when it's not in a blob */
    fill: var(--color-foreground-primary);
}

.release-cycle-chart .release-cycle-status-end-of-life {
    --status-bg-color: #FF8888;
    --status-border-color: #DD2200;
}

.release-cycle-chart .release-cycle-status-security {
    --status-bg-color: #FFDD44;
    --status-border-color: #FF8800;
}

.release-cycle-chart .release-cycle-status-bugfix {
    --status-bg-color: #00DD22;
    --status-border-color: #008844;
}

.release-cycle-chart .release-cycle-status-prerelease {
    --status-bg-color: teal;
    --status-border-color: darkgreen;
}

.release-cycle-chart .release-cycle-status-feature {
    --status-bg-color: #2222EE;
    --status-border-color: #008888;
}

.release-cycle-chart .release-cycle-blob {
    fill: var(--status-bg-color);
    stroke: transparent;
}

.release-cycle-chart .release-cycle-blob-full {
    fill: var(--status-bg-color);
    stroke: var(--status-border-color);
}

.release-cycle-chart .release-cycle-border {
    fill: transparent;
    stroke: var(--status-border-color);
    stroke-width: 1.6px;
}

.good pre {
  border-left: 3px solid rgba(74, 182, 93, 1);
}
.bad pre {
  border-left: 3px solid rgb(244, 76, 78);
}

.extlink-cpy-file,
.extlink-gh-label {
  border: 1px solid var(--color-background-border);
  border-radius: .2em;
  font-family: var(--font-stack--monospace);
  font-size: var(--font-size--small--2);
  padding: .1em .2em;
}

/* Table cells should always top-align */

table.docutils td {
  vertical-align: top;
}
