name: Tests

on:
  pull_request:
  push:
    branches: main

jobs:
  test:
    name: test w/ Python ${{ matrix.python-version }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install Dependencies
        run: python3 -m pip install -U pip -r requirements.txt
      - name: Build Docs
        run: sphinx-build -n -W -q -b html -d _build/doctrees . _build/html
      - name: Link Check
        run: sphinx-build -b linkcheck -d _build/doctrees . _build/linkcheck
        continue-on-error: true
