name: Tests

on: [pull_request, push, workflow_dispatch]

env:
  FORCE_COLOR: 1

jobs:
  test:
    name: Check build, markup, and links
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3"
      - name: Install uv
        run: >
          curl --no-progress-meter --location --fail
          --proto '=https' --tlsv1.2
          "https://astral.sh/uv/install.sh"
          | sh
      - name: Build docs
        run: make html
      - name: Link check
        run: make linkcheck
        continue-on-error: true
